.form-section {
        background-color: #FF1493;
        box-shadow: 20px 20px 40px lightgray;
        border-radius: 20px;
}

.product-details {
        box-shadow: 20px 20px 40px lightgray;
        border-radius: 20px;
        padding: 10px;
}