.banner {
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        animation: animate 9s ease-in-out infinite;
        display: flex;
        justify-content: center;
        align-items: center;
}

/* For Slider */

@keyframes animate {
        0%, 100% {
                background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.ibb.co/2MV86RM/banner1.png');
        }
        40% {
                background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.ibb.co/cbttHZ2/banner2.png');
        }
        75% {
                background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.ibb.co/QrsfxxR/banner3.png');
        }
}

.banner h1 {
        font-size: 4rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
}

.banner h2 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
}