.footer {
        background-color: black;
        color: white;
}

.footer-item {
        margin-top: 5px !important;
}

.footer-item:hover {
        color: orangered;
        cursor: pointer;
        text-decoration: underline;
}

.footer img {
        cursor: pointer;
}