.service-img img {
        height: 360px;
        width: 100%;
        border-radius: 5px;
}

.service-card {
        box-shadow: 10px 10px 20px lightgray;
        border-radius: 10px;
}

.service-card:hover {
        transform: scale(1.05);
        transition: transform 1.5s;
}