body {
        font-family: 'Noto Serif', serif;
}

.brand-color {
        color: #FF1493;
}

.brand-btn {
        background: #FF1493;
        color: white;
}

.brand-btn:hover {
        background: #FF1493;
}